* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);
}

header {
  height: 20vh;
  width: 100%;
  position: relative;
  @media screen and (max-width: 420px) {
    //position: fixed;
    height: 18vh;
  }
}

footer {
  position: relative;
  width: 100%;
}

table.footerTable {
  width: 100%;
  text-align: center;
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://static.wixstatic.com/media/5c99e4_81d75d53c26d4567809929690e9821c0~mv2_d_4608_3456_s_4_2.jpg/v1/fill/w_1461,h_1095,al_c,q_85,usm_0.66_1.00_0.01/5c99e4_81d75d53c26d4567809929690e9821c0~mv2_d_4608_3456_s_4_2.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  list-style: none;
  margin-top: 40px;
  background-color: rgb(233, 233, 233);
  border-radius: 25px 0px 0px 25px;
  @media screen and (max-width: 800px) {
    box-shadow: 0.1px 2px 5px rgb(0, 0, 0);
  }
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  text-shadow: 0.75px 0.7px 0.5px rgb(53, 53, 53);
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: rgb(233, 233, 233);
  -webkit-text-stroke-color: #445ca6;
  text-decoration: none;
  padding: 5px 20px;
  justify-content: space-around;
  //font-family: "Roboto", sans-serif;
  //font-family: "Cabin Sketch", cursive;
  //font-family: "Mouse Memoirs", sans-serif;
  //font-family: "IM Fell DW Pica SC", serif;
  //font-family: "Amaranth", sans-serif;
  //font-family: "Bangers", cursive;
  //font-family: "Fjalla One", sans-serif;
  //font-family: "Hammersmith One", sans-serif;
  font-family: "Lalezar", cursive;
  //font-family: "Nunito", sans-serif;
  //font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

// .nav-links li a {
//   border: 1px solid white;
// }

.nav-links li a:hover {
  // border: 0.5px solid rgb(255, 255, 255);
  // background-color: rgba(255, 255, 255, 0.171);
  //-webkit-text-fill-color: rgba(160, 160, 160, 0.2);
  -webkit-text-stroke-color: #445ca6;
  font-weight: bold;
}

.burger {
  display: none;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0);
  // @media screen and (max-width: 800px) {
  //   position: fixed;
  // }
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #445ca6;
  margin: 5px;
  transition: all 0.3s ease;
  box-shadow: 0.1px 0.1px 0.5px rgb(0, 0, 0);
}

//tablet device
// @media screen and (max-width: 1024px) {
//   .nav-links {
//     width: 60%;
//   }
// }

//mobile device
@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .nav-links li a {
    font-size: 1.25em;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    //opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 400px) {
  .nav-links {
    width: 38%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.logo img {
  width: 200px;
  height: auto;
  float: left;
  margin-top: 5px;
} //(!active)set ative in index.html

body {
  font-family: monospace;
}

.row {
  max-width: 1200px;
  margin: auto;
}

.title {
  position: absolute;
  margin-left: 3vh;
  margin-top: 1.2vh;
  @media screen and (max-width: 800px) {
    margin-left: 2vh;
    margin-top: 1vh;
  }
}

h1 {
  -webkit-text-fill-color: rgba(211, 135, 51, 0.8);
  //-webkit-text-stroke-color: rgb(87, 87, 87);
  //-webkit-text-stroke: 0.25px;
  //font-family: "Roboto", sans-serif;
  font-family: "Cabin Sketch", cursive;
  //font-family: "Mouse Memoirs", sans-serif;
  //font-family: "IM Fell DW Pica SC", serif;
  //font-family: "Amaranth", sans-serif;
  //font-family: "Bangers", cursive;
  //font-family: "Fjalla One", sans-serif;
  //font-family: "Hammersmith One", sans-serif;
  //font-family: "Lalezar", cursive;
  //font-family: "Nunito", sans-serif;
  //font-family: "Nunito Sans", sans-serif;
  font-size: 4em;
  //font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0.75px 0.25px 1px rgba(0, 0, 0, 0.55);
  @media screen and (max-width: 700px) {
    font-size: 2.5em;
  }
}

.button {
  margin-top: 30px;
  margin-left: 440px;
} //(!active)set ative in index.html

.btn {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
} //(!active)set ative in index.html

.btn-one {
  font-family: "Roboto", sans-serif;
} //(!active)set ative in index.html

.btn-one:hover {
  background-color: rgb(211, 135, 51);
  transition: all 0.5s ease-in;
} //(!active)set ative in index.html

.btn-two {
  font-family: "Roboto", sans-serif;
} //(!active)set ative in index.html

.btn-two:hover {
  background-color: darkorange;
  transition: all 0.5s ease-in;
} //(!active)set ative in index.html

#about {
  color: rgb(224, 224, 224);
  background-color: rgba(233, 233, 233, 0);
  position: fixed;
  float: left;
  margin: 150px 700px 0px 70px;
  //font-family: "Roboto", sans-serif;
  font-family: "Cabin Sketch", cursive;
  //font-family: "Mouse Memoirs", sans-serif;
  //font-family: "IM Fell DW Pica SC", serif;
  //font-family: "Amaranth", sans-serif;
  //font-family: "Bangers", cursive;
  //font-family: "Fjalla One", sans-serif;
  //font-family: "Hammersmith One", sans-serif;
  //font-family: "Lalezar", cursive;
  //font-family: "Nunito", sans-serif;
  //font-family: "Nunito Sans", sans-serif;
  font-size: 1.25em;
  //font-weight: bold;
  text-shadow: 0.5px 0.1px 3px rgb(24, 24, 24);
  text-align: center;
}
@media screen and (max-width: 800px) {
  #about {
    margin: 150px 150px 0px 20px;
  }
}
.contact-form {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  float: left;
  margin: 150px 0px 0px 50px;
  //font-family: "Roboto", sans-serif;
  font-family: "Cabin Sketch", cursive;
  //font-family: "Mouse Memoirs", sans-serif;
  //font-family: "IM Fell DW Pica SC", serif;
  //font-family: "Amaranth", sans-serif;
  //font-family: "Bangers", cursive;
  //font-family: "Fjalla One", sans-serif;
  //font-family: "Hammersmith One", sans-serif;
  //font-family: "Lalezar", cursive;
  //font-family: "Nunito", sans-serif;
  //font-family: "Nunito Sans", sans-serif;
  @media screen and (max-width: 400px) {
    margin: 25px 0px 0px 10px;
  }
}

.contact-f2 {
  background-color: rgba(255, 255, 255, 0);
}

#contact-heading {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5em;
}

#name {
  background-color: rgba(173, 173, 173, 0.089);
  box-shadow: 0.5px 0px 2px rgba(24, 24, 24, 0.582);
  border: 0;
  width: 29.4vh;
  @media screen and (max-width: 400px) {
    width: 20vh;
  }
}

#email {
  margin-left: 3px;
  width: 29.5vh;
  background-color: rgba(173, 173, 173, 0.089);
  box-shadow: 0.5px 0px 2px rgba(24, 24, 24, 0.582);
  border: 0;
  @media screen and (max-width: 400px) {
    width: 20vh;
  }
}

#comment {
  margin-left: 50px;
  box-shadow: 0.5px 0px 2px rgba(24, 24, 24, 0.582);
  background-color: rgba(173, 173, 173, 0.089);
  border: 0;
  @media screen and (max-width: 400px) {
    width: 20vh;
  }
}

#submit {
  margin-left: 108px;
  background-color: rgba(255, 255, 255, 0.089);
  box-shadow: 0.5px 0px 2px rgba(24, 24, 24, 0.582);
  border: 0;
  width: 10vh;
  height: 3vh;
  @media screen and (max-width: 420px) {
    margin-left: 90px;
  }
}

#submit:hover {
  background-color: rgba(211, 136, 51, 0.596);
  transition: all 0.5s ease-in;
}

.explore-video {
  text-align: center;
  //font-family: "Roboto", sans-serif;
  //font-family: "Cabin Sketch", cursive;
  //font-family: "Mouse Memoirs", sans-serif;
  //font-family: "IM Fell DW Pica SC", serif;
  //font-family: "Amaranth", sans-serif;
  //font-family: "Bangers", cursive;
  //font-family: "Fjalla One", sans-serif;
  font-family: "Hammersmith One", sans-serif;
  //font-family: "Lalezar", cursive;
  //font-family: "Nunito", sans-serif;
  //font-family: "Nunito Sans", sans-serif;
  font-size: 2em;
  margin-top: 20px;
  color: #445ca6;
  text-shadow: 0.75px 0.25px 1px rgba(0, 0, 0, 0.55);
}

//Maintain the aspect ratio of a div with CSS https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css/33301062#33301062
[data-aspect-ratio] {
  display: block;
  max-width: 90%;
  position: relative;

  &:before {
    content: "";
    display: block;
  }

  > * {
    display: block;
    height: 100%;
    left: 5%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

[data-aspect-ratio="16:9"]:before {
  padding-top: 56.25%;
}

#explore-image {
  text-align: center;
  //font-family: "Roboto", sans-serif;
  //font-family: "Cabin Sketch", cursive;
  //font-family: "Mouse Memoirs", sans-serif;
  //font-family: "IM Fell DW Pica SC", serif;
  //font-family: "Amaranth", sans-serif;
  //font-family: "Bangers", cursive;
  //font-family: "Fjalla One", sans-serif;
  font-family: "Hammersmith One", sans-serif;
  //font-family: "Lalezar", cursive;
  //font-family: "Nunito", sans-serif;
  //font-family: "Nunito Sans", sans-serif;
  font-size: 2em;
  margin-top: 20px;
  color: #445ca6;
  text-shadow: 0.75px 0.25px 1px rgba(0, 0, 0, 0.55);
}

.footerTable {
  background-color: rgb(233, 233, 233);
}

.quick-links {
  font-family: "Bangers", cursive;
  font-size: 1.7em;
}

#quick-link1 {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: blue;
}
#quick-link2 {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: blue;
}
#quick-link3 {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: blue;
}
#quick-link4 {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: blue;
}

.media-links {
  padding-top: 15px;
  padding-left: 200px;
  width: 30%;
  @media screen and (max-width: 800px) {
    padding-left: 0px;
  }
}

.see-also {
  font-size: 1.5em;
  //font-family: "Roboto", sans-serif;
  font-family: "Cabin Sketch", cursive;
  //font-family: "Mouse Memoirs", sans-serif;
  //font-family: "IM Fell DW Pica SC", serif;
  //font-family: "Amaranth", sans-serif;
  //font-family: "Bangers", cursive;
  //font-family: "Fjalla One", sans-serif;
  //font-family: "Hammersmith One", sans-serif;
  //font-family: "Lalezar", cursive;
  //font-family: "Nunito", sans-serif;
  //font-family: "Nunito Sans", sans-serif;
  @media screen and (max-width: 800px) {
  }
}
